<template>
    <v-layout>
        <v-col :variants="['xs-3', 'md-4', 'lg-3', 'md-offset-4', 'lg-offset-6']">
            <v-button
                variant="circle"
                @click.native="getPrize"
            >
                <v-icon>star_half</v-icon>
            </v-button>
        </v-col>
    </v-layout>
</template>

<script>
export default {
    name: 'prize-random',
    methods: {
        getPrize() {
            this.$store.dispatch('prize/random');
        },
    },
    components: {
        VLayout: require('@/layouts/base').default,
    },
};
</script>

<style scoped>

</style>
