<template>
    <v-layout>
        <v-grid variant="container">
            <v-row>
                <v-col>
                    <v-card v-if="prize">
                        <v-card-heading>
                            <v-card-title>You've got the <span>{{ prize.name }}</span>
                            </v-card-title>
                        </v-card-heading>
                        <v-card-body>
                            <v-definition>
                                <v-definition-term>Name</v-definition-term>
                                <v-definition-description>{{ prize.name }}
                                </v-definition-description>
                                <v-definition-term>Value</v-definition-term>
                                <v-definition-description>{{ prize.value }}
                                </v-definition-description>
                                <div v-if="prize.convertible">
                                    <v-definition-term>Converted Value</v-definition-term>
                                    <v-definition-description>{{ prize.convertedValue }}
                                    </v-definition-description>
                                    <v-button
                                            variant="minimal"
                                            @click.native="convertPrize()"
                                    >Convert to Points</v-button>
                                </div>
                            </v-definition>
                        </v-card-body>
                        <v-card-footer>
                            <v-button
                                    variant="minimal"
                                    @click.native="takePrize()"
                            >Take It</v-button>
                            <v-button
                                    :variants="['minimal', 'minimal--danger']"
                                    @click.native="cancelPrize()"
                            >Cancel</v-button>
                        </v-card-footer>
                    </v-card>
                    <v-card v-else>Prize not found...</v-card>
                </v-col>
            </v-row>
        </v-grid>
    </v-layout>
</template>

<script>
import store from '@/store';

export default {
    name: 'prize-show',
    data() {
        return {
            prize: null,
        };
    },
    methods: {
        takePrize() {
            console.log('Take it');
        },
        cancelPrize() {
            console.log('Fuck it');
        },
        convertPrize() {
            console.log('Convert');
        },
    },
    mounted() {
        this.prize = store.state.prize.item;
    },
    components: {
        VLayout: require('@/layouts/base').default,
    },
};
</script>

<style scoped>

</style>
