
<template>
    <div>
        {{ pageName }}
    </div>
</template>

<script>
export default {
    data() {
        return {
            pageName: 'not-found',
        };
    },
};
</script>

<style scoped>

</style>
