<template>
  <div>
    <v-header>
      <v-toolbar>
        <v-nav-icon/>
        <v-toolbar-title>Casexe Prizer Minimal</v-toolbar-title>
        <v-toolbar-actions>
          <v-toolbar-action @click.native="logout">
            <v-icon>exit_to_app</v-icon>
          </v-toolbar-action>
        </v-toolbar-actions>
      </v-toolbar>
    </v-header>
    <v-content>
      <v-aligner :variants="['top', 'right']">
      </v-aligner>
      <!-- The content of the page will be placed here -->
      <slot></slot>
    </v-content>
  </div>
</template>
<script>
export default {
    name: 'base-layout',

    methods: {
        logout() {
            this.$store.dispatch('auth/logout');
        },
    },
};
</script>
