<template>
    <router-view />
</template>

<script>
import store from '@/store';
import { router } from './bootstrap';

export default {
    name: 'Casexe Minimal',
    store,
    router,
};
</script>

