<template>
    <v-layout>
        <v-card>
            <v-card-heading>
                <v-card-title>Login</v-card-title>
            </v-card-heading>
            <v-card-body>
                <v-form @submit.prevent.native="login">
                    <v-form-group>
                        <v-text-field
                                placeholder="Email"
                                variant="block"
                                v-model="user.username"
                                type="email"
                        />
                    </v-form-group>
                    <v-form-group>
                        <v-text-field
                                placeholder="Password"
                                variant="block"
                                v-model="user.password"
                                type="password"
                        />
                    </v-form-group>
                    <v-form-group>
                        <v-button
                                @click.native="login"
                                variant="block">
                            Login
                        </v-button>
                    </v-form-group>
                </v-form>
            </v-card-body>
        </v-card>
    </v-layout>
</template>

<script>
export default {
    name: 'auth-login',

    data() {
        return {
            user: {
                username: null,
                password: null,
            },
        };
    },

    methods: {
        login() {
            this.$store.dispatch('auth/login', this.user);
        },
    },

    components: {
        VLayout: require('@/layouts/minimal').default,
    },
};
</script>

<style scoped>

</style>
